<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="{% static "ong/images/rt_logo.png" %}" class="pics" alt="info">
			<div class="infotext">
				O mundo não muda sozinho, façamos nossa parte para salvá-lo! Retweet essa ideia ^.^
			</div>
		</div> 
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>

<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Início</a>						
					</li>
					
					<li>
					<a href="/lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="/eventos/">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="/campanhas/">Campanhas</a>
						<ul>
						<li><a href="/conheca-mais/">Conheça mais</a></li>
						<li><a href="/faca-sua-campanha/">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="/ongs/">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- CONTENT 
================================================== -->
<!-- SINGLE COLUMN-->
<div class="row">
	<div class="twelve columns">
		<h5>Projeto Baú Cênico Ambiental</h5>
		<hr>
		<p>
		Busca junto a entidades governamentais ou não e ONG´s, viabilizar a educação ambiental; conscientizando o público alvo sobre a importância da preservação do meio ambiente e as consequências de não fazê-lo.
		</p>
		<p><a href="http://www.natal.rn.gov.br/semurb/paginas/ctd-685.html" target="_blank">Saiba mais</a></p>
	</div>
	<div class="twelve columns">
		<h5>Movimento Pró-Pitimbu</h5>
		<hr>
		<p>É um movimento multidisciplinar formado por profissionais das mais diversas áreas
(Engenheiros Civis, Arquitetos, Jornalistas, Biólogos, Geógrafos, etc). Foi criado a 3 anos e
trata-se de uma grande mobilização de indivíduos que cumprem a cidadania, tendo como objetivo
defender a qualidade da água que abastece Natal e em particular proteger e preservar o rio
Pitimbu.</p>
		<p>O Movimento Pró-Pitimbu tem como slogan a frase “Salve o Pitimbu- Nós dependemos dele”.</p>
		<p><a href="http://mineiropt.com.br/media/uploads/publications/arq46bc6f42e16c5.pdf" target="_blank">Saiba mais</a></p>
	</div>
	<div class="twelve columns">
		<h5>Ação Natal Verde</h5>
		<hr>
		<p>
			O proprietário do Sebo Rio Branco idealizou e vem desenvolvendo o projeto Ação Natal Verde. Todo mês é feita a distribuição de mudas de plantas aos clientes do sebo. Uma maneira de conscientizar e incentivar os moradores a lutar pelo meio ambiente.
		</p>
		<p><a href="http://seboriobrancoacaonatalverde.blogspot.com.br/" target="_blank">Saiba mais</a></p>
	</div>
	<div class="twelve columns">
		<h5>Barco Escola Chama-Maré</h5>
		<hr>
		<p>		
			O Barco Escola Chama-Maré é um projeto desenvolvido pelo Governo do Estado, através do Instituto de Desenvolvimento Sustentável e Meio Ambiente - IDEMA, voltado para ações de educação ambiental no estuário do rio Potengi. Teve início em outubro de 2006 e funciona atualmente de terça à sábado com quatro aulas-passeio por dia, atendendo um público médio de 3.000 pessoas/mês.
		</p>
		<p><a href="http://www.idema.rn.gov.br/Conteudo.asp?TRAN=ITEM&TARG=351&ACT=null&PAGE=null&PARM=null&LBL=Projetos#sthash.dtYid3V3.dpuf" target="_blank">Saiba mais</a></p>
	</div>
	<div class="twelve columns">
		<h5>Programa Água Azul</h5>
		<hr>	
	<p>O Programa Água Azul consiste na medição e verificação periódica de parâmetros de qualidade de água, usada para o acompanhamento da condição atual, sua evolução e controle da qualidade do corpo de água, além de possibilitar a projeção de situações futuras. O Programa tem por objetivos realizar o monitoramento sistemático da qualidade das águas dos principais corpos d'água interiores norte-rio-grandenses, bem como das águas subterrâneas, verificar as condições de balneabilidade de diversas praias do Estado, além de promover uma investigação passivo ambiental, decorrente da contaminação, por derivados de petróleo, do aquífero na Cidade de Natal.</p>
	<p><a href="http://www.programaaguaazul.rn.gov.br/" target="_blank">Saiba mais</a></p>
</div>
</div>

<!-- LITTLE FOOTER
================================================== -->
<div class="tweetarea"><div class="tweettext"><div class="row"></div></div></div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
<script src="{% static "ong/javascripts/formvalidation.js" %}"></script>
</body>
</html>