<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>Faça sua campanha!</title>
<link rel="shortcut icon" href="images/rt_logo.ico" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/blog.css"><!-- blog stylesheet -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
 <script type="text/javascript">
 	function mensagem() {
 		alert("A criação da sua campanha foi solicitada! Agora, aguarde apenas que a nossa equipe analise todas as informações e entre em contato com você para iniciar a divulgação (através do email informado).")
 	}
 </script>
</head>
<body>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="index.html"> <img src="images/logotop.png"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="index.html">Início</a>						
					</li>
					
					<li>
					<a href="verdes.html">Lugares Verdes</a>
						<ul>
						<li><a href="eventos.html">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="campanha.html">Campanhas</a>
						<ul>
						<li><a href="campanha1.html">Conheça mais</a></li>
						<li><a href="campanha2.html">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="ongs.html">ONGs</a>
					</li>
					
					<li>
					<a href="denuncie.html">Denuncie</a>						
					</li>
					
					<li>
					<a href="contato.html">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				 Reuna amigos e crie uma campanha - a divulgação é por nossa conta!
			</p>
			<p class="right">
			
			</p>
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->

<div class="row">
	<!-- CONTACT FORM -->
	<div class="twelve columns">
		<div class="wrapcontact">
			<h5>CRIAR CAMPANHA</h5>
			<form method="post" action="contact.php" id="contactform">
				<div class="form">
				    <div class="six columns noleftmargin">
					<label>Nome</label>
					<input type="text" name="name" class="smoothborder" placeholder="Seu nome *"/>
					</div>
					<div class="six columns">
					<label>E-mail</label>
					<input type="text" name="email" class="smoothborder" placeholder="Seu e-mail *"/>
					</div>
					<label>Mensagem</label>
					<textarea name="comment" class="smoothborder ctextarea" rows="14" placeholder="Deixe sua mensagem para nós *"></textarea>
					<input type="submit" id="submit" class="readmore" value="Enviar" onclick="mensagem()">
				</div>
				</form>			
		</div>
	</div>
												
</div>
<div class="hr">
</div>
<!-- LITTLE FOOTER
================================================== -->
<div class="tweetarea"><div class="tweettext"><div class="row"></div></div></div></div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="images/socialpack/facebooka.png"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="images/socialpack/twitter.png"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="images/logo_if.png">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/formvalidation.js"></script>
<script src="javascripts/jquery.cycle.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/modernizr.foundation.js"></script>
<script src="javascripts/slidepanel.js"></script>
<script src="javascripts/scrolltotop.js"></script>
<script src="javascripts/hoverIntent.js"></script>
<script src="javascripts/superfish.js"></script>
<script src="javascripts/responsivemenu.js"></script>
<script src="javascripts/jquery.tweet.js"></script>
<script src="javascripts/twitterusername.js"></script>
</body>
</html>