<!DOCTYPE html>
{% load staticfiles %}

<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="{% static "ong/images/info.png" %}" class="pics" alt="info">
			<div class="infotext">
				(-------- frase de impacto---------)
			</div>
		</div> 
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
çççççççççççç


<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>