<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width"/>
<title>Eventos</title>
<link rel="shortcut icon" href="images/rt_logo.ico" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<!--<link rel="stylesheet" href="stylesheets/blog.css"> blog stylesheet -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
</head>
<body>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="index.html"> <img src="images/logotop.png"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="index.html">Inicio</a>						
					</li>
					
					<li>
					<a href="verdes.html">Lugares Verdes</a>
						<ul>
						<li><a href="eventos.html">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="campanha.html">Campanhas</a>
						<ul>
						<li><a href="campanha1.html">Conheça mais</a></li>
						<li><a href="campanha2.html">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="ongs.html">ONGs</a>
					</li>
					
					<li>
					<a href="denuncie.html">Denuncie</a>						
					</li>
					
					<li>
					<a href="contato.html">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				EVENTOS - Não deixe de participar
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div id="portofolio">
		<div class="four columns threeportofolio category trains">
			<h5>COCO NO PÉ</h5>
			<p>
				Domingo, às 14:00 - Morro do Careca - Praia de Ponta Negra, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/1404214923219631/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/coco.jpg" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>OIÁ FEIRA MULTICULTURAL</h5>
			<p>
				29 de março, às 08:00 - Av. Campos Sales, Tirol, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/805964466157858/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/oia.png" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>SEBO AO AR LIVRE</h5>
			<p>
				5 de abril, às 14:00 - Avenida Guadalupe, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/906488642737311/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/sebo.jpg" class="threeimage" alt=""/>
			</div>
		</div>		
		<div class="four columns threeportofolio category trains">
			<h5>ECO PRAÇA DIVERSIDADE</h5>
			<p>
				12 de abril, às 09:00 - Local específico a definir, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/1552917034990626/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/ecopraça.jpg" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>DANÇANDO NAS DUNAS</h5>
			<p>
				11, 18 e 25 de abril, às 16:30 horas - Anfiteatro Pau-brasil, Parque das Dunas, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/pages/Dan%C3%A7ando-nas-Dunas/795606593825714?fref=ts" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/dunas.jpg" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>BICICLETADA NATAL</h5>
			<p>
				Toda última sexta do mês, às 18h30 - Salgado Filho (em frente ao IFRN), Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/BicicletadaNatal?fref=ts" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="images/bike.jpg" class="threeimage" alt=""/>
			</div>
		</div>
	</div>
</div>


<!-- SIDEBAR -->

<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="images/socialpack/facebooka.png"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="images/socialpack/twitter.png"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="images/logo_if.png">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/jquery.cycle.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/modernizr.foundation.js"></script>
<script src="javascripts/slidepanel.js"></script>
<script src="javascripts/scrolltotop.js"></script>
<script src="javascripts/hoverIntent.js"></script>
<script src="javascripts/superfish.js"></script>
<script src="javascripts/responsivemenu.js"></script>
<script src="javascripts/jquery.tweet.js"></script>
<script src="javascripts/twitterusername.js"></script>
</body>
</html>
