<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
</head>
<body>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Início</a>						
					</li>
					
					<li>
					<a href="/lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="/eventos/">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="/campanhas/">Campanhas</a>
						<ul>
						<li><a href="/conheca-mais/">Conheça mais</a></li>
						<li><a href="/faca-sua-campanha/">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="/ongs/">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				EVENTOS - Não deixe de participar
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div id="portofolio">
		<div class="four columns threeportofolio category trains">
			<h5>COCO NO PÉ</h5>
			<p>
				Domingo, às 14:00 - Morro do Careca - Praia de Ponta Negra, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/1404214923219631/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/coco.jpg" %}" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>OIÁ FEIRA MULTICULTURAL</h5>
			<p>
				29 de março, às 08:00 - Av. Campos Sales, Tirol, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/805964466157858/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/oia.png" %}" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>SEBO AO AR LIVRE</h5>
			<p>
				5 de abril, às 14:00 - Avenida Guadalupe, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/906488642737311/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/sebo.jpg" %}" class="threeimage" alt=""/>
			</div>
		</div>		
		<div class="four columns threeportofolio category trains">
			<h5>ECO PRAÇA DIVERSIDADE</h5>
			<p>
				12 de abril, às 09:00 - Local específico a definir, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/events/1552917034990626/" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/ecopraca.jpg" %}" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>DANÇANDO NAS DUNAS</h5>
			<p>
				11, 18 e 25 de abril, às 16:30 horas - Anfiteatro Pau-brasil, Parque das Dunas, Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/pages/Dan%C3%A7ando-nas-Dunas/795606593825714?fref=ts" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/dunas.jpg" %}" class="threeimage" alt=""/>
			</div>
		</div>
		<div class="four columns threeportofolio category trains">
			<h5>BICICLETADA NATAL</h5>
			<p>
				Toda última sexta do mês, às 18h30 - Salgado Filho (em frente ao IFRN), Natal/RN
			</p>
			<div class="portofoliothumb">
				<div class="portofoliothumboverlay threeoverlay">
					<div class="inner threedetail">
						<a class="projectdetail" href="https://www.facebook.com/BicicletadaNatal?fref=ts" target="_blank"> Participe </a>
					</div>
				</div>
				<img src="{% static "ong/images/bike.jpg" %}" class="threeimage" alt=""/>
			</div>
		</div>
	</div>
</div>


<!-- SIDEBAR -->

<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>
