<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="{% static "ong/images/rt_logo.png" %}" class="pics" alt="info">
			<div class="infotext">
				O mundo não muda sozinho, façamos nossa parte para salvá-lo! Retweet essa ideia ^.^
			</div>
		</div> 
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>

<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Início</a>						
					</li>
					
					<li>
					<a href="/lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="/eventos/">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="/campanhas/">Campanhas</a>
						<ul>
						<li><a href="/conheca-mais/">Conheça mais</a></li>
						<li><a href="/faca-sua-campanha/">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="/ongs/">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>
		<div class="four columns">
			<div class="row collapse">
				<div class="ten mobile-three columns">
					<input type="text" class="nomargin" placeholder="Pesquisar...">
				</div>
				<div class="two mobile-one columns">
					<a href="#" class="postfix button expand">Ir</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns noleftmargin">
	    <!-- MAIN CONTENT -->
		<div class="eight columns noleftmargin">
			<div class="six columns">
				<div class="boxblog">
					<h5>OAB/RN une-se a CAU/RN para evento sustentável</h5>
					<p class="small date">
						Posted on: 6 Feb 2015 <span class="has-tip tip-top" data-width="90" title="comments"><img src="{% static "ong/images/comments.png" %}" alt=""></span>
					</p>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner">
								<a class="projectdetail" href="/oab-e-cau-se-unem-para-evento-sustentavel/"> Continuar lendo </a>
							</div>
						</div>
			<!-- image here -->
						<img src="{% static "ong/images/oab.png" %}" alt="">
					</div>
					<p> Evento promovido pela OAB tem como tema "Como a gestão da água pode contribuir para o desenvolvimento sustentável do RN?”.
					</p>
				</div>
			</div>
			<div class="six columns">
				<div class="boxblog">
					<h5>Declaração Universal dos Direitos da Água</h5>
					<p class="small date">
						Posted on: 6 Feb 2015 <span class="has-tip tip-top" data-width="90" title="comments"><img src="{% static "ong/images/comments.png" %}" alt=""></span>
					</p>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner">
								<a class="projectdetail" href="/declaracao-universal-dos-direitos-da-agua/"> Continuar lendo </a>
							</div>
						</div>
			<!-- image here -->
						<img src="{% static "ong/images/direitosdaagua.jpg" %}" alt="">
					</div>
					<p> Veja só os 10 Direitos que a ONU garantiu para a nossa querida <b>Água</b>.
					</p>
				</div>
			</div>
			<div class="six columns">
			<ul class="pagination">
				<li class="arrow"><a href="/page2/">&laquo;</a></li>
				<li><a href="/">1</a></li>
				<li><a href="/page2/">2</a></li>
				<li class="current"><a href="">3</a></li>
				<!-- <li class="unavailable"><a href="">&hellip;</a></li>
				<li><a href="">12</a></li>
				<li><a href="">13</a></li> -->
				<li class="arrow unavailable"><a href="">&raquo;</a></li>
			</ul>
		</div>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">SOBRE </h6>
			<p align="justify">
				&nbsp &nbsp Nosso projeto é fruto de um protótipo, na disciplina de Projeto Integrador, do IFRN Campus Parnamirim, 
				que está sendo realizado entre estudantes e professores em conjunto. Ele nasceu no início do ano de 2015, 
				e os idealizadores pretendem estendê-lo a mais tempo. <br/>
				&nbsp &nbsp O projeto tem como finalidade trabalhar com informações 
				que tenham relação com a nossa flora e fauna, o ambiente ao nosso redor,os cuidados que devemos prestar para 
				com o meio em que vivemos, e possíveis problemas que nos deparamos quando não tomamos este devido cuidado. <br/>
				&nbsp &nbsp Aqui, você poderá encontrar também, informações sobre a nossa Ong e os trabalhos que estamos realizando, como por 
				exemplo, ações que estamos fazendo em prol do meio ambiente, dicas de sustentabilidade, e muito mais.
			</p>
			<br class="clear"/>
			<br/>
			<h6 class="sidebartitle">QUEM SOMOS</h6>
			
				<div class="teamwrap teambox">
				<img src="{% static "ong/images/quemsomos.png" %}" alt="image01" class="responsiveslide"> 
				<div class="mask">
				<h6>Beatriz Vasconcelos</h6>
				<h6>Pamela Motta</h6>
				<h6>Cinthia Katiane</h6>
				<h6>Gean Felipe</h6>
				<h6>Andrezza Luiza</h6>			
				</div>				
				</div>
				
				<p align="justify"> 
				&nbsp &nbsp Para começo de conversa, somos estudantes do Instituto Federal de Educação, Ciência e Tecnologia do 
				Rio Grande do Norte, do Campus Parnamirim, localizado ao lado da capital do estado, Natal. <br/>
				&nbsp &nbsp O site que você está acessando, é resultado do protótipo que criamos, na disciplina Projeto Integrador, 
				ministrada no 3ºano do ensino médio integrado no Instituto,e tem como base, temas que tivessem relação à nossa 
				natureza e meio ambiente. De início, nosso objetivo é procurar concientizar as pessoas que cuidar do meio ambiente 
				é importante,que se não for devidamente cuidado, sofreremos as consequências em um momento bem próximo. <br/>
				&nbsp &nbsp Por enquanto, nossas realizações fazem parte de um pequeno projeto,mas pretendemos levar o trabalho a 
				frente, e trazer mais informações ambientais às pessoas. Agora, se ficou interessado, sobe na prancha e vem navegar 
				com a gente!</p>
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- LITTLE FOOTER
================================================== -->
<div class="tweetarea"><div class="tweettext"><div class="row"></div></div></div></div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>