<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="iso-881877"/>
<meta name="viewport" content="width=device-width"/>
<title>ONGs</title>
<link rel="shortcut icon" href="images/rt_logo.ico" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/blog.css"><!-- blog stylesheet -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
   
</head>
<body>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="index.html"> <img src="images/logotop.png"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="index.html">Inicio</a>						
					</li>
					
					<li>
					<a href="verdes.html">Lugares Verdes</a>
						<ul>
						<li><a href="eventos.html">Eventos</a></li>
						</ul>
					<li> 
					<a href="campanha.html">Campanhas</a>
						<ul>
						<li><a href="campanha1.html">Conheça mais</a></li>
						<li><a href="campanha2.html">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="ongs.html">ONGs</a>
					</li>
					
					<li>
					<a href="denuncie.html">Denuncie</a>						
					</li>
					
					<li>
					<a href="contato.html">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				Participe você também !<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns noleftmargin">
	    <!-- MAIN CONTENT -->
		<div class="eight columns noleftmargin">
			<div class="circledate"></div>
			<h4>SOS MANGUE RN</h4>
			<div class="dots blogdots">
			</div>
			<p>
					O trabalho da SOS MANGUE é na luta pela preservação e conscientização ambiental. Ao se ler o nome da ONG, pode-se imaginar que ela age apenas pela preservação do Ecossistema Manguezal, mas ela não se detém só a isso. A SOS MANGUE, desde sua criação, vem desenvolvendo uma série de ações em respeito a preservação do Meio Ambiente como um todo. Sua atuação no nosso estado vem crescendo gradativamente, entretanto é preciso que cresça também a participação da população.
			</p>
			<a href="http://sosmanguern.zip.net/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>SOS PONTA NEGRA</h4>
			<div class="dots blogdots">
			</div>
			<p>
				Foi criada em 2006 por cidadãos preocupados com o principal cartão postal de Natal: a Praia de Ponta Negra e o Morro do Careca. A SOS Ponta Negra é um movimento popular socioambiental, sem nenhum envolvimento com política partidária, que tem apenas o objetivo de defender e preservar a praia de Ponta Negra sem impedir o desenvolvimento do bairro.
			</p>
			<p>
				 "Nossa luta é a favor de todo mundo e pela cidade, pela praia, pelo Morro do Careca, pelo turismo, pelo cartão postal, pelo visual, POR NÓS MESMOS e PELO NOSSO FUTURO."
			</p> <a href="http://www.sospontanegra.org/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>ONG BAOBÁ</h4>
			<div class="dots blogdots">
			</div>
			<p>
				A Baobá tem como objetivo conscientizar ambientalmente a população norte-rio-grandense. A ONG foi criada em 2003 e, desde então, vem apresentando projetos que defendem o desenvolvimento sustentável e buscam dialogar com sociedade sobre sua atitude em relação à natureza.
			</p>
			<p>
				 Na busca do desenvolvimento sustentável, a ONG promove passeios ciclísticos, principalmente em Natal, para tentar conscientizar os moradores da cidade de que a diminuição do uso de automóveis diminui também a poluição atmosférica. Assim, busca os estimular a utilizar mais a bicicleta como meio de transporte.
			</p> <a href="https://ongbaoba.wordpress.com/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>ASPOAN</h4>
			<div class="dots blogdots">
			</div>
			<p>
				A Associação Potiguar Amigos da Natureza surgiu em 1985, com apenas 48 voluntários e atuando na defesa do meio ambiente e no desenvolvimento tecnológico voltado para a agricultura alternativa. Atualmente, trabalha focando mais nas questões socioambientais, promovendo projetos e campanhas para a melhora da qualidade de vida dos habitantes de Natal.
			</p>
			<p>
				 Uma das campanhas é a BICICLETADA NATAL, que acontece todo último sábado do mês, às 15h, em frente ao IFRN – Campus Central, na Avenida Salgado Filho. A ideia da campanha é convencer as pessoas a manterem uma vida saudável e preservar o ar tão puro da cidade.
			</p> <a href="https://ongaspoan.wordpress.com" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<ul class="pagination">
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
				<li class="current"><a href="ongs.html">1</a></li>
				<li><a href="ongs2.html">2</a></li>
			<!--	<li><a href="">4</a></li>
				<li class="unavailable"><a href="">&hellip;</a></li>
				<li><a href="">12</a></li>
				<li><a href="">13</a></li> -->
				<li class="arrow"><a href="ongs2.html">&raquo;</a></li>
			</ul>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">VEJA AGORA</h6>
			<div id="ei-slider" class="ei-slider">
				<ul class="ei-slider-large">
					<h6> Carros movidos a energia solar </h6>
					<li>
					<p> Estes carros estão sendo aprimorados e daqui a alguns anos serão a grande novidade nas ruas de muitas cidades.</p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo8.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="images/carro.jpg" alt="image01" class="responsiveslide"> 
					</div>				
				</ul>	<br/>
				<ul class="ei-slider-large">
					<h6> Movimentos Ambientais aqui no estado</h6>
					<li>
					<p> O movimento “Salve os mangues” visita a zona de proteção ambiental natalense.</p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo7.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="images/mangue.png" alt="image01" class="responsiveslide"> 
					</div>				
				</ul>	<br/>
				<ul class="ei-slider-large">
					<h6> OAB/RN une-se a CAU/RN para evento sustentável </h6>
					<li>
					<p> Evento promovido pela OAB tem como tema "Como a gestão da água pode contribuir para o desenvolvimento sustentável do RN?”. </p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo11.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="images/oab.png" alt="image01" class="responsiveslide"> 
					</div>					
				</ul>				
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div> 
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="images/socialpack/facebooka.png"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="images/socialpack/twitter.png"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="images/logo_if.png">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/jquery.cycle.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/modernizr.foundation.js"></script>
<script src="javascripts/slidepanel.js"></script>
<script src="javascripts/scrolltotop.js"></script>
<script src="javascripts/hoverIntent.js"></script>
<script src="javascripts/superfish.js"></script>
<script src="javascripts/responsivemenu.js"></script>
<script src="javascripts/jquery.tweet.js"></script>
<script src="javascripts/twitterusername.js"></script>
</body>
</html>