<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="{% static "ong/images/rt_logo.png" %}" class="pics" alt="info">
			<div class="infotext">
				O mundo não muda sozinho, façamos nossa parte para salvá-lo! Retweet essa ideia ^.^
			</div>
		</div> 
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>

<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Início</a>						
					</li>
					
					<li>
					<a href="/lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="/eventos/">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="/campanhas/">Campanhas</a>
						<ul>
						<li><a href="/conheca-mais/">Conheça mais</a></li>
						<li><a href="/faca-sua-campanha/">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="/ongs/">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				Participe você também !<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns noleftmargin">
	    <!-- MAIN CONTENT -->
		<div class="eight columns noleftmargin">
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>AKATU</h4>
			<div class="dots blogdots">
			</div>
			<p>
				O Instituto Akatu é uma ONG que trabalha pela conscientização e mobilização da sociedade para o Consumo Consciente. Sua missão é mobilizar as pessoas para as mudanças que podem acontecer por meio de atos de consumo consciente. O Akatu defende que a ferramenta a sustentabilidade da vida do planeta é o consumo consciente.
			</p>
			<p>
				A ideia não é para de consumir, até porque isso seria impossível, mas consumir sustentavelmente, buscando tornar as consequências positivas maiores que as negativas. E, dessa forma, criar uma comunidade em que todos percebam que são parte integrante da vida deste planeta e, por isso, devem cuidar e zelar por esta vida.
			</p> <a href="http://www.akatu.org.br/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<div class="circledate"></div>
			<h4>SOS MATA ATLÂNTICA</h4>
			<div class="dots blogdots">
			</div>
			<p>
				A Fundação SOS Mata Atlântica é uma ONG que tem como missão promover a conservação da diversidade biológica e cultural do Bioma Mata Atlântica e de ecossistemas sob sua influência. Criada em 1986, é uma entidade privada sem fins lucrativos que desenvolve diversos projetos que estimulam ações para o desenvolvimento sustentável.
			</p>
			<p>
				A entidade promove a educação e o conhecimento sobre a Mata Atlântica, mobilizando, capacitando e estimulando o exercício da cidadania socioambiental, pois é de extrema importância o futuro deste patrimônio ambiental.
			</p> <a href="http://www.sosma.org.br/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>WWF - Brasil</h4>
			<div class="dots blogdots">
			</div>
			<p>
				A WWW-Brasil é participante de uma rede internacional e se dedica à conservação da natureza dentro do contexto social e econômico brasileiro.
				Ela executa dezenas de projetos em parceria com ONGs regionais, universidades e órgãos governamentais. 
			</p>
			<p>
				 A organização desenvolve atividades de apoio à pesquisa, legislação e políticas públicas, educação ambiental e comunicação. Tudo em prol da conservação dos
				 bens naturais brasileiros.
			</p> <a href="http://www.wwf.org.br/wwf_brasil/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>GREENPEACE</h4>
			<div class="dots blogdots">
			</div>
			<p>
				O Greenpeace é uma organização global que busca proteger o meio ambiente, promover a paz e inspirar mudanças de atitudes que garantam um futuro mais verde e limpo para esta e para as futuras gerações.
			</p>
			<p>
				 Eles atuam em problemas ambientais que desafiam o mundo atual, com campanhas que tratam de mudanças climáticas, proteção às florestas, oceanos, agricultura sustentável, poluição e energia nuclear. 
				 No Brasil, direcionam suas atividades na proteção da Amazônia e na campanha de Clima e Energia.
			</p> <a href="http://www.greenpeace.org/brasil/pt/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<ul class="pagination">
				<li class="arrow"><a href="/ongs/">&laquo;</a></li> <!-- << anterior -->  
				<li><a href="/ongs/">1</a></li>
				<li class="current"><a href="">2</a></li>
			<!--	<li><a href="">4</a></li>
				<li class="unavailable"><a href="">&hellip;</a></li> <!--  ... 
				<li><a href="">12</a></li>
				<li><a href="">13</a></li> -->
				<li class="unavailable"><a href="">&raquo;</a></li> <!-- >> seguinte -->
			</ul>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">VEJA AGORA</h6>
			<div id="ei-slider" class="ei-slider">
				<ul class="ei-slider-large">
					<h6> Declaração Universal dos Direitos da Água </h6>
					<li>
					<p> Veja os 10 direitos que a ONU garantiu à água.</p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="/declaracao-universal-dos-direitos-da-agua/"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/direitosdaagua.jpg" %}" alt="image01" class="responsiveslide"> 
					</div>				
				</ul>	<br/>
				<ul class="ei-slider-large">
					<h6> Aplicativos Sustentáveis </h6>
					<li>
					<p> Veja os novos aplicativos que aliam à tecnologia o ambientalismo e a sustentabilidade. </p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="/aplicativos-sustentaveis/"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/app.jpg" %}" alt="image01" class="responsiveslide"> 
					</div>					
				</ul> <br/>
				<ul class="ei-slider-large">
					<h6> Dia Mundial das Florestas </h6>
					<li>
					<p> Relembre qual a importâcia das florestas em nossas vidas. </p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="/dia-mundial-das-florestas/"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/florestas.jpg" %}" alt="image01" class="responsiveslide"> 
					</div>					
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div> 
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>