<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
</head>
<body>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Inicio</a>						
					</li>
					
					<li>
					<a href="lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="eventos.html">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="campanha.html">Campanhas</a>
						<ul>
						<li><a href="campanha1.html">Conheça mais</a></li>
						<li><a href="campanha2.html">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="ongs.html">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns noleftmargin">
	    <!-- MAIN CONTENT -->
		<div class="eight columns noleftmargin">
			<div class="circledate"></div>
			<h4>Parque das Dunas</h4>
			</p>
			<div class="dots blogdots">
			</div>
			<p align="justify">
					O Parque das Dunas foi a primeira Unidade de Conservação Ambiental implantada no Estado do Rio Grande do Norte, criado em 1977. Tem 1.172 hectares de mata nativa, sendo parte integrante da Reserva da Biosfera da Mata Atlântica Brasileira. É considerado o segundo maior parque urbano do Brasil, superado apenas pela Floresta da Tijuca (RJ). O Parque das Dunas recebe 9 mil visitantes por mês.
			</P>
			<a href="http://www.parquedasdunas.rn.gov.br/" class="saymore" target="_blank">Saiba mais</a>
			<div class="hr">
			</div>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>Vale Encantado</h4>
			<div class="dots blogdots">
			</div>
			<p align="justify">
				"Seu paraiso no Pium!" O Vale Encantado é uma propriedade privada em Pium/RN, próximo a Praia de Cotovelo. Através da página do Facebook (no link aí embaixo), você entra em contato com os responsáveis do local e agendam o dia, horário e lugar para encontrar o guia. Do local marcado o guia o leva por um trilha, que é escolhida por você mesmo, até chegar ao Vale. 
			</p>
			<p align="justify">
				Lá você encontra açaí orgânico - cultivado no próprio lugar, slacklines, passeio de caiaque, frescobol, tecidos aéreos, banho de rio e muito mais!
			</p>
			<a href="https://www.facebook.com/valeencantadopium/timeline" class="saymore" target="_blank">Saiba mais</a>
			<br/>
			<div class="hr">
			</div>
			<div class="circledate"></div>
			<h4>Parque de Capim Macio</h4>
			<div class="dots blogdots">
			</div>
			<p align="justify">
				Amigos do Parque de Capim Macio é um projeto concebido pela arquiteta Viviane Teles a partir de conceitos de sustentabilidade. Criado com participação da comunidade. Espaço de uso misto para o desenvolvimento de atividades comunitárias e ações de educação ambiental, cultura e lazer.
			</P>
			<p align="justify"> Com a única pretensão de salvar a última área verde do bairro de Capim Macio, a comunidade mostrou e comprovou que o poder da união e a força positiva do pensamento a levam onde quiserem.
			</p>
			<a href="http://www.parquedecapimmacio.org/" class="saymore" target="_blank">Saiba mais</a>
			<div class="hr">
			</div>
			<ul class="pagination">
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
				<li class="current"><a href="">1</a></li>
				<li><a href="verdes2.html">2</a></li>
				<!-- <li><a href="index3.html">3</a></li> -->
				<li class="arrow"><a href="verdes2.html">&raquo;</a></li>
			</ul>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">VEJA AGORA</h6>
			<div id="ei-slider" class="ei-slider">
				<ul class="ei-slider-large">
					<h6> Movimentos Ambientais aqui no estado</h6>
					<li>
					<p> O movimento “Salve os mangues” visita a zona de proteção ambiental natalense.</p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo7.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/mangue.png" %}" alt="image01" class="responsiveslide"> 
					</div>				
				</ul>	
				<ul class="ei-slider-large">
					<h6> Dicas para economizar energia</h6>
					<li>
					<p> Top 5 com dicas para reduzir a energia elétrica </p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo5.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/top5.png" %}" alt="image01" class="responsiveslide"> 
					</div>					
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div> 
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>