<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>ONG Retweet</title>
<link rel="shortcut icon" href="{% static "ong/images/rt_logo.ico" %}" type="image/x-icon" />
<!-- Included CSS Files-->
<link rel="stylesheet" href="{% static "ong/stylesheets/style.css" %}">
<link rel="stylesheet" href="{% static "ong/stylesheets/blog.css" %}"><!-- blog stylesheet -->
<link rel="stylesheet" href="{% static "ong/stylesheets/skins/teal.css" %}"><!-- skin color -->
<link rel="stylesheet" href="{% static "ong/stylesheets/responsive.css" %}">
   
</head>
<body>


<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">								
				<a href="/"> <img src="{% static "ong/images/logotop.png" %}"> </a>
			</div>	
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="/">Início</a>						
					</li>
					
					<li>
					<a href="/lugares-verdes/">Lugares Verdes</a>
						<ul>
						<li><a href="/eventos/">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="/campanhas/">Campanhas</a>
						<ul>
						<li><a href="/conheca-mais/">Conheça mais</a></li>
						<li><a href="/faca-sua-campanha/">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="/ongs/">ONGs</a>
					</li>
					
					<li>
					<a href="/denuncie/">Denuncie</a>						
					</li>
					
					<li>
					<a href="/contato/">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="eight columns noleftmargin">
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>Parque da Cidade</h4>
			<div class="dots blogdots">
			</div>
			<p>
				O Parque da Cidade foi projetado pelo arquiteto Oscar Niemayer com a colaboração de Ana Niemayer e Jair Varela. O macro zoneamento proposto no Plano Diretor de Natal estabeleceu as Zonas de Proteção Ambiental, as quais foram previstas para viabilizar a proteção dos aspectos naturais e culturais da cidade. O Parquepode desempenhar a função de espaço destinado ao lazer ecológico, cultural e equipamento estratégico de promoção da educação ambiental.
			</p>
			<p>A importância do Parque se dá por sua relevância ecológica, sendo responsável pela manutenção dos processos ecológicos e pela proteção integral da área que é uma das principais fontes de recarga do aqüífero de Natal (cerca de 70% do abastecimento de água da cidade provém do subsolo), considerado um dos poucos reservatórios naturais ainda não contaminados em Natal.
			</p> <a href="http://www.natal.rn.gov.br/parquedacidade/" class="saymore" target="_blank">Saiba mais</a>
			<br/>

			<div class="circledate"></div>
			<h4>Cajueiro de Pirangi</h4>
			</p>
			<div class="dots blogdots">
			</div>
			<p>
				É o maior cajueiro do mundo! Localizado na praia de Pirangi, em Parnamirim, o cajueiro cobre uma área de aproximadamente 8500m². 
				Por safra, ele produz entre 70 e 80 mil cajus.
			</P>
			<p> O cajueiro teria sido plantado em 1888 e, graças à conjunção de duas anomalias genéticas, tornou-se o maior do mundo. Para entender melhor a história deste patrimônio potiguar
			e conhecer sua grande beleza, visite esse maravilhoso ponto turístico!
			</p>
			<a href="https://www.facebook.com/pages/Maior-Cajueiro-do-Mundo/1410883479172276?rf=190187714359503" class="saymore" target="_blank">Saiba mais</a>
			<div class="hr">
			</div>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>Mangue da Redinha</h4>
			<div class="dots blogdots">
			</div>
			<p>
				O Parque da Cidade foi projetado pelo arquiteto Oscar Niemayer com a colaboração de Ana Niemayer e Jair Varela. 
O macro zoneamento proposto no Plano Diretor de Natal estabeleceu as Zonas de Proteção Ambiental, as quais foram previstas para viabilizar a proteção dos aspectos naturais e culturais da cidade. O Parque
pode desempenhar a função de espaço destinado ao lazer ecológico, cultural e equipamento estratégico de promoção da educação ambiental.
			</p>
			<p>A importância do Parque se dá por sua relevância ecológica, sendo responsável pela manutenção dos processos ecológicos e pela proteção integral da área que é uma das principais fontes de recarga do aqüífero de Natal (cerca de 70% do abastecimento de água da cidade provém do subsolo), considerado um dos poucos reservatórios naturais ainda não contaminados em Natal.
			</p> <a href="http://www.natal.rn.gov.br/parquedacidade/" class="saymore" target="_blank">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<ul class="pagination">
				<li class="arrow"><a href="/lugares-verdes/">&laquo;</a></li>
				<li><a href="/lugares-verdes/">1</a></li>
				<li class="current"><a href="">2</a></li>
				<!-- <li><a href="index3.html">3</a></li> -->
				<li class="arrow unavailable"><a href="">&raquo;</a></li>
			</ul>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">VEJA AGORA</h6>
			<div id="ei-slider" class="ei-slider">
				<ul class="ei-slider-large">
					<h6> Solidariedade e Sustentabilidade</h6>
					<li>
					<p> Associação Beneficente também ajuda o Meio Ambiente.</p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo3.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/samaritano2.jpg" %}" alt="image01" class="responsiveslide"> 
					</div>
					 
					
				</ul>	
				<ul class="ei-slider-large">
					<h6> Aplicativos Sustentáveis </h6>
					<li>
					<p> Veja os novos aplicativos que aliam à tecnologia o ambientalismo e a sustentabilidade. </p>
					</li>
					<div class="portofoliothumb">
						<div class="portofoliothumboverlay">
							<div class="inner2">
								<a class="projectdetail" href="docs/artigo6.html"> Continuar lendo </a>
							</div>
						</div>			
						<img src="{% static "ong/images/app.jpg" %}" alt="image01" class="responsiveslide"> 
					</div>					
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div> 
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="https://www.facebook.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/facebooka.png" %}"/>
			</a>			
		</div>
		<div class="social facebook">
			<a href="https://twitter.com/ongretweet" target="_blank">
			<img src="{% static "ong/images/socialpack/twitter.png" %}"/>
			</a>			
		</div>
		<h5 class="subheader">ONG Retweet</h5>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<img src="{% static "ong/images/logo_if.png" %}">				
	</div>
	<div class="four columns">
		<h5 class="subheader">Organização do Projeto</h5>
		<p> Professora Lúcia Costa </p>
		<p> Sociologia III </p>		
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="{% static "ong/javascripts/jquery.cycle.js" %}"></script>
<script src="{% static "ong/javascripts/foundation.min.js" %}"></script>
<script src="{% static "ong/javascripts/app.js" %}"></script>
<script src="{% static "ong/javascripts/modernizr.foundation.js" %}"></script>
<script src="{% static "ong/javascripts/slidepanel.js" %}"></script>
<script src="{% static "ong/javascripts/scrolltotop.js" %}"></script>
<script src="{% static "ong/javascripts/hoverIntent.js" %}"></script>
<script src="{% static "ong/javascripts/superfish.js" %}"></script>
<script src="{% static "ong/javascripts/responsivemenu.js" %}"></script>
<script src="{% static "ong/javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "ong/javascripts/twitterusername.js" %}"></script>
</body>
</html>