<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>Lugares Verdes</title>
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/blog.css"><!-- blog stylesheet -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
   
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="images/info.png" class="pics" alt="info">
			<div class="infotext">
				(-------- frase de impacto---------)
			</div>
		</div> 
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>

<!-- HEADER
================================================== -->
<div class="row">	
		<div class="four columns">
			<div class="logo">
				<a href="index.html"><h4>ONG Retweet</h4></a>
			</div>
		</div>
		<div class="eight columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
				
					<li class="current">
					<a href="index.html">Inicio</a>						
					</li>
					
					<li>
					<a href="verdes.html">Lugares Verdes</a>
					<ul>
						<li><a href="eventos.html">Eventos</a></li>
						</ul>
					<li>
					
					<li> 
					<a href="#">Campanhas</a>
						<ul>
						<li><a href="campanha1.html">Conheça mais</a></li>
						<li><a href="campanha2.html">Faça sua campanha</a></li>
						</ul>
					</li>
					
					<li>
					<a href="ongs.html">ONGs</a>
					</li>
					
					<li>
					<a href="denuncie.html">Denuncie</a>						
					</li>
					
					<li>
					<a href="contato.html">Contato</a>
					</li>
					
				</ul>
				</nav>
		</div>	
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				<!-- You are here: <a href="index.html"> Home</a> / <a href="blogpage2.html">Blog second style</a> -->
			</p>
		</div>		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns noleftmargin">
	    <!-- MAIN CONTENT -->
		<div class="eight columns noleftmargin">
			<div class="circledate"></div>
			<h4>Cajueiro de Pirangi</h4>
			</p>
			<div class="dots blogdots">
			</div>
			<p>
					O maior cajueiro do mundo!!
			</P>
			<a href="http://www.parquedasdunas.rn.gov.br/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<div class="circledate">
				<div class="textcircle"></div>
			</div>
			<h4>Mangue da Redinha</h4>
			<div class="dots blogdots">
			</div>
			<p>
				O Parque da Cidade foi projetado pelo arquiteto Oscar Niemayer com a colaboração de Ana Niemayer e Jair Varela. 
O macro zoneamento proposto no Plano Diretor de Natal estabeleceu as Zonas de Proteção Ambiental, as quais foram previstas para viabilizar a proteção dos aspectos naturais e culturais da cidade. O Parque
pode desempenhar a função de espaço destinado ao lazer ecológico, cultural e equipamento estratégico de promoção da educação ambiental.
			</p>
			<p>A importância do Parque se dá por sua relevância ecológica, sendo responsável pela manutenção dos processos ecológicos e pela proteção integral da área que é uma das principais fontes de recarga do aqüífero de Natal (cerca de 70% do abastecimento de água da cidade provém do subsolo), considerado um dos poucos reservatórios naturais ainda não contaminados em Natal.
			</p> <a href="http://www.natal.rn.gov.br/parquedacidade/" class="saymore">Saiba mais</a>
			<div class="hr">
			</div>
			<br/>
			<ul class="pagination">
				<li class="arrow"><a href="verdes.html">&laquo;</a></li>
				<li><a href="verdes.html">1</a></li>
				<li class="current"><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li class="unavailable"><a href="">&hellip;</a></li>
				<li><a href="">12</a></li>
				<li><a href="">13</a></li>
				<li class="arrow"><a href="">&raquo;</a></li>
			</ul>
		</div>
		<!-- SIDEBAR -->
		<div class="four columns">
			<h6 class="sidebartitle">VEJA AGORA</h6>
			<!-- <div class="avatar">
				<img src="images/temp/author1.png" alt="">
			</div>
			<p>
				 Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
			</p>
			<div class="avatar">
				<img src="images/temp/author2.png" alt="">
			</div>
			<p>
				 Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
			</p>
			<div class="avatar">
				<img src="images/temp/author3.png" alt="">
			</div>
			<p>
				 Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
			</p>
			<br class="clear"/>
			<h6 class="sidebartitle">POPULAR TAGS</h6>
			<a href="#" class="tags">Photography</a>
			<a href="#" class="tags">Vintage</a>
			<a href="#" class="tags">Nature</a>
			<a href="#" class="tags">Design</a>
			<a href="#" class="tags">Printing</a>
			<a href="#" class="tags">Contemporary</a>
			<a href="#" class="tags">Classic</a>
			<a href="#" class="tags">Elegant</a>
			<a href="#" class="tags">Graphics</a>
			<br class="clear"/>
			<br/><br/>
			<h6 class="sidebartitle">POPULAR POSTS</h6>
			<p>
				7 Oct 2013
			</p>
			<p>
				Many pieces were proposed, but none seemed suitable, because each one wished to play a good and suitable part ...
			</p>
			<p>
				6 Sept 2013
			</p>
			<p>
				It was ready for production, when through accident we were disappointed about securing the private theatre on ...
			</p>
			<p>
				4 Aug 2013
			</p>
			<p>
				The over-kind praise which it won encouraged me to have the play printed. I decided, as I could see no other prospects...
			</p>   -->
		</div>
	</div>
</div>
<div class="hr">
</div> 
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext"><div class="row"></div></div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
	<h1>COMPARTILHE</h1>
		<div class="social facebook">
			<a href="http://www.facebook.com">
			<img src="images/socialpack/facebooka.png"/>
			</a>
		</div>
	</div>
	<div class="four columns">
	<h1>APOIO</h1>
		
		
			<p> jhabfjhvfdsjhvbs </p>
		
		
			<p> jhabfjhvfdsjhvbs </p>
		
		
			<p> jhabfjhvfdsjhvbs </p>				
	</div>
	<div class="four columns">
		<p> jhabfjhvfdsjhvbs </p>
		<p> jhabfjhvfdsjhvbs </p>
		<p> jhabfjhvfdsjhvbs </p>
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2015 ONG Retweet</span>
		</div>		
</div>
<!-- JAVASCRIPTS 
================================================== -->
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/jquery.cycle.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/modernizr.foundation.js"></script>
<script src="javascripts/slidepanel.js"></script>
<script src="javascripts/scrolltotop.js"></script>
<script src="javascripts/hoverIntent.js"></script>
<script src="javascripts/superfish.js"></script>
<script src="javascripts/responsivemenu.js"></script>
<script src="javascripts/jquery.tweet.js"></script>
<script src="javascripts/twitterusername.js"></script>
</body>
</html>